.form-control{
    color: #7952b3;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #000000;
    border-color: #000000;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 14px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    
  }
  
  .form-control:focus {
    background-color: #252525; /* Cambia el color de fondo a rojo */
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #7952b3;
    text-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .label{
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 1em;
    display: block;
    background-color: #0f0707;
    padding: 10px;
    color: #6a6a6a;
  }
  .form{
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 6px;
    display: block;
    background-color: #201f1f;
    padding: 10px;
    color: #6a6a6a;
    text-shadow: none;
    -webkit-box-shadow: 9px 8px 66px -21px rgba(181,40,181,1);
    -moz-box-shadow: 9px 8px 66px -21px rgba(181,40,181,1);
    box-shadow: 9px 8px 66px -21px rgba(181,40,181,1);
    
  }
