{% extends 'layout.html' %}

{% block content %}

<body class="login-page" style="background-color: #121212">
    <div class="twitter-login-box">
        <header>
            <!-- <img src="https://static01.nyt.com/images/2014/08/10/magazine/10wmt/10wmt-jumbo-v4.jpg?quality=90&auto=webp"
                alt="twitter logo"> -->
            <h1>Registrarse</h1>
        </header>

        <form class="form" action="" method="POST">
            {% csrf_token %}

            {{ sign_up_form }}
            
            <form class="d-flex px-1">
			    <button class="btn btn-primary btn-success btn-lg text-white" type="submit" id="btn-submit" href="#">Registrarse</button>
			</form>
        </form>

        <div class="footer">
            <a href="#">¿Ya tienes una cuenta? Login</a>
        </div>

    </div>

    {% endblock content %}