h1{
    color: rgb(174, 0, 255);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    
}



.app {
    background-color:  green;

}

-app_title{
    color: white
}